@model Domain.Package
<div class="container">
    <section class="mx-auto my-5" style="max-width: 23rem;">

        <div class="card" style="text-decoration: none">
            <div class="ratio ratio-4x3 hover-overlay ripple" data-mdb-ripple-color="light">
                @if (Model.Thumbnail != null)
                {
                    <img src="data:@Model.ThumbnailFormat;Base64,@Convert.ToBase64String(Model.Thumbnail)" class="card-img-top" alt="Image of @Model.Name"/>
                }
                else
                {
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" class="card-img-top" alt="Image of @Model.Name"/>
                }
            </div>
            <div class="card-body">
                <h5 class="card-title font-weight-bold">
                    @Model.Name
                    @if (Model.EighteenPlus)
                    {
                        <span class="badge bg-secondary">18+</span>
                    }
                </h5>
                <p class="mb-2">€ @Model.Price • @Model.Cafeteria!.Location!.Name, @Model.City!.Name</p>
                <span class="badge bg-primary">@Model.Category</span>
                <hr class="my-4"/>
                <p class="lead">
                    <strong>Pickup time</strong>
                </p>
                <ul class="list-unstyled list-inline d-flex">
                    <li class="list-inline-item pl-2">
                        <i class="fa-solid fa-clock"></i>
                    </li>
                    <li class="list-inline-item pl-2">
                        <span class="">@Model.StartTimeSlot.ToString("ddd")</span>
                    </li>
                    <li class="list-inline-item me-0">
                        <span class="badge bg-secondary">@Model.StartTimeSlot.ToString("t")</span>
                    </li>
                    <li class="list-inline-item px-1">
                        <i class="fa-solid fa-horizontal-rule"></i>
                    </li>
                    <li class="list-inline-item me-0">
                        <span class="badge bg-secondary">@Model.EndTimeSlot.ToString("t")</span>
                    </li>
                </ul>
                @if (Context.Request.Path.Value!.Contains("Employee") && Model.StudentId == null)
                {
                    <ul class="list-unstyled list-inline d-flex justify-content-between text-reset text-decoration-none">
                        <li>
                            <a class="text-reset text-decoration-none" asp-controller="Employee" asp-action="Update" asp-route-id="@Model.PackageId">
                                Edit
                                <i class="fa-solid fa-pen"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-reset text-decoration-none" asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.PackageId">
                                Delete
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </section>
</div>