@model Domain.Package
<div class="col">
    <div class="card rounded-2">
       <div class="card-body">
           <ul>
               <li>@Model.Name</li>
               <li>@Model.City?.Name: @Model.Cafeteria?.Location.Name</li>
               <li>@Model.Category</li>
               <li>@Model.BestBeforeDate</li>
               @if (Model.EighteenPlus == true)
               {
               <li>18+</li>
               }
               <li>€ @Model.Price</li>
           </ul> 
       </div>
    </div>
</div> 