@model Domain.Package
<div class="col">
    <div class="card rounded-2">
        <a class="text-decoration-none text-black" asp-action="Package" asp-controller="Package" asp-route-id="@Model.PackageId">
            <div class="card-body">
                <h4>@Model.Name</h4>
                <ul class="list-unstyled">
                    <li>@Model.City?.Name: @Model.Cafeteria?.Location.Name</li>
                    <li>@Model.Category</li>
                    <li>@Model.BestBeforeDate</li>
                    @if (Model.EighteenPlus)
                    {
                        <li>18+</li>
                    }
                    <li>€ @Model.Price</li>
                </ul>
            </div>
        </a>
        @if (Context.Request.Path.Value.Contains("Employee") && @Model.StudentId == null)
        {
            <ul class="list-unstyled">
                <li>
                    <a asp-controller="Employee" asp-action="Update" asp-route-id="@Model.PackageId">Edit</a>
                </li>
                <li>
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.PackageId">Delete</a>
                </li>
            </ul>
        }
    </div>
</div>