@model Domain.Package 

@{
    ViewBag.Title = "Package overview";
    Layout = "_Layout";
}

@* ReSharper disable once ConditionIsAlwaysTrueOrFalse *@
@if (Model != null)
{
    <h2>@Model.Name</h2>
}
else
{
    <h2>No package found!</h2>
    <a asp-controller="Home" asp-action="Index">return home</a>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mb-2">
        <h5 class="alert-heading">Error!</h5>
        @ViewBag.Error
        <a class="alert-link" asp-action="Index" asp-controller="Home">
            return to home menu.
        </a>

    </div>
}


@* ReSharper disable once ConditionIsAlwaysTrueOrFalse *@
@if (Model != null)
{
    <p>Categorie: @Model.Category</p>
    <p>Price: @Model.Price</p>
    <p>City: @Model.City!.Name</p>
    <p>Location: @Model.Cafeteria?.Location?.Name</p>
    <ul>
        @foreach (var p in Model.Products!)
        {
            <li>@p.Name</li>
        }
    </ul>

@if (Model.StudentId == null)
{
    <form method="post">
        <button type="submit" class="btn btn-primary" asp-action="ReservePackage" asp-controller="Package" asp-route-id="@Model.PackageId">Reserve</button>
    </form>
}

@if (Model.StudentId != null)
{
    <form method="post">
        <button type="submit" class="btn btn-primary disabled" asp-action="ReservePackage" asp-controller="Package" asp-route-id="@Model.PackageId">Reserve</button>
    </form>
}
}