@using Domain
@model PackageViewModel 

@{
    ViewBag.Title = "Create package";
}

<h2>Pakket aanmaken</h2>
<form asp-action="Create" method="post">
    <div class="form-outline required mb-4">
        <label asp-for="Package!.Name">Naam van het pakket</label>
        <div>
            <span asp-validation-for="Package!.Name" class="text-danger"></span>
        </div>
        <input asp-for="Package!.Name" class="form-control"/>
    </div>

    <div class="form-outline required mb-4">
        <label asp-for="Package!.Price">Prijs</label>
        <div>
            <span asp-validation-for="Package!.Price" class="text-danger"></span>
        </div>
        <input asp-for="Package!.Price" class="form-control"/>
    </div>

    <div class="form-outline required mb-4">
        <label asp-for="Package!.Category">Categorie</label>
        <div>
            <span asp-validation-for="Package!.Category" class="text-danger"></span>
        </div>
        <select asp-for="Package!.Category" asp-items="Html.GetEnumSelectList<Category>()">
            <option selected="selected">Kies een categorie</option>
        </select>
    </div>


    <div class="form-checkform-outline mb-4">
        <div class="form-outline required">
            <label asp-for="OptionsList">Producten</label>
        </div>
        <div>
            <span asp-validation-for="ProductsList" class="text-danger"></span>
        </div>
        @if (Model.OptionsList != null)
        {
            foreach (var p in Model.OptionsList)
            {
                <div class="form-check">
                    <input class="form-check-input" name="ProductsList" type="checkbox" value="@p.Value!.ProductId " id="@p.Value!.ProductId" checked="@p.IsChecked">
                    <label class="form-check-label" for="@p.Value.ProductId">
                        @p.Value.Name
                    </label>
                </div>
            }
        }
    </div>
    
    @if (ViewData.ModelState.ContainsKey("DateError"))
    {
        <div class="alert alert-danger d-flex text-center align-items-center mb-2">
            @Html.ValidationMessage("DateError")
        </div>
    }

    <div class="form-outline required mb-4">
        <label asp-for="Package!.StartTimeSlot">Beschikbaar vanaf</label>
        <input type="datetime-local" asp-for="Package!.StartTimeSlot" tooltip="Start of the timeslot" class="form-control"/>
    </div>


    <div class="form-outline required mb-4">
        <label asp-for="Package!.EndTimeSlot">Beschikbaar tot</label>
        <input type="datetime-local" asp-for="Package!.EndTimeSlot" tooltip="End of the timeslot" class="form-control"/>
    </div>

    <div class="form-outline mb-4">
        <div class="form-check form-switch">
            <input asp-for="Package!.EighteenPlus" class="form-check-input" type="checkbox">
            <label asp-for="Package!.EighteenPlus" class="form-check-label">18+</label>
        </div>
    </div>
    @Html.HiddenFor(model => Model.OptionsList!)

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Aanmaken</button>
</form>